/* heaer-2 */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

.welcome-text{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 45%;
    padding: 50px 50px;
    text-align:center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: rgba(0, 0, 0, 0.3 );
    color: #fff;
    border: 10px inset #fff ;    
    direction: rtl;
    
}   

.welcome-text h3 {
    font-family: 'Oleo Script', cursive;    
    font-weight: lighter;
}

.welcome-text p {
    font-family: 'Rubik', sans-serif;
    padding: 0.8%;
    /*border: */
}



::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
    background-color: #F5F5F5;
}


::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(85, 85, 85, 0.644);
}
.navbar_header {
    
    width: 100%;
}




a {
	text-decoration: none;
}

.et-hero-tabs {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:auto;
    position: relative;
    background: #eee;
    text-align: center;
    padding: 0 2em;
}

.et-hero-tabs h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
}
h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}

.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #eee;
    text-align: center;
    padding: 0 2em;

}

.et-slide h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
}
h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    position: fixed;

    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
    top: 0;
    
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 1.1rem;
    
}

.et-hero-tabs:hover {
    color:white;
    background: rgba(102,177,241,0.8);

    transition: all 0.5s ease;
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}




/* this is HEADER 4 style */

nav {
    font-family: 'Rubik', sans-serif;
    z-index: 10;
    position: fixed;
    top: 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    background-color: #ffffff;
    

    
}


.nav-links {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.nav-links li{
    list-style: none;
}

.nav-links li #home {
   
    color:rgb(155, 104, 11);
    font-weight: bolder;
}

.nav-links a {
    text-shadow: 2px 2px  #fff;
    color:black;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 17px;
}

.nav-links a:hover {
    color:rgb(106, 162, 179);
    transition: all 0.2s ease;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    transition:all 0.3s ease;

}

@media screen and (max-width:768px) {
    .nav-links {
        width: 70%;
    }
}

@media screen and (max-width:768px) {

    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        opacity: 0.9;
        z-index: 100;
        right: 0px;
        height: 100vh;
        top: 8vh;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction:column-reverse;
        align-items: center;
        width: 50%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;

    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px)
    }
    to{
        opacity: 1;
        transform: translateX(0px)
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px)

}
.toggle .line2{
    opacity: 0;    
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px)
    
}





.contact-us-section{ 
    font-family: 'Rubik', sans-serif;
    color:black;
    margin-bottom: 100px;
}

#contact1{
    margin-top: 60px;
    transform: translate(-42.5%, -50%);
}

.email{
    text-align: right;
    direction: rtl;
    background: #f4f7f8;
    border-radius: 8px;
    float: right;
    height: 395px;
}



.details {
  border: none;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  margin: 0;
  outline: 0;
  padding: 5px;
  color: #8a97a0;
  text-align: right;
} 

#emailLogo{
    margin-top: 0px;
    float: left;
}

#insider{
    color: #8a97a0;
    padding: 25px;
    float: right;
}


#sendMail {
    margin-right: 4px;
    padding: 19px 38% 18px 37%;
    color: #FFF;
    background-color: #4bc970;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  
  } 



  #map {
      width: unset;
  }

  #map-box {
    width: 204vh;
    height:450px;
    margin-top: 60px;
  }



.item {
    position: relative;
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background-color: #000000;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
    overflow: hidden;
}

.item .images {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

}

.item .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    opacity: 1;


}

.item:hover .images img {
    opacity: 0.3;

}

.item .social {
    position: absolute;
    top: 50%;
    lefT: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    margin: 0;
    padding: 0;
}

.item .social li {
    list-style: none;

}

.item .social li a {
    text-decoration: none;
}

.item .social li i {
    display: block;
    width: 45px;
    height: 45px;
    color: #fff;
    position: relative;
    font-size: 25px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    margin: 0 5px;
    transition: 0.5s;
    transform: translateY(200px);

}


.item:hover .social li i {
    transform: translateY(0);
    opacity: 1;

}

.item:hover .social li:nth-child(1) i {
    transition-delay: 0.1s;
}
.item:hover .social li:nth-child(2) i {
    transition-delay: 0.2s;
}
.item:hover .social li:nth-child(3) i {
    transition-delay: 0.3s;
}
.item:hover .social li:nth-child(4) i {
    transition-delay: 0.4s;
}


.item .social li .fa-facebook {
    background-color: #465993;
}
.item .social li .fa-twitter {
    background-color: #76a9ea;
}
.item .social li .fa-instagram {
    background-color: #a01e94;
}
.item .social li .fa-linkedin-in {
    background-color: #465993;
}

.item .social li:hover {
    background-color: #333;
    font-size: 23px;
}

.content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    background-color: #fff;
    width: 100%;
    height: 80px;
    text-align: center;
    transition: 0.5s;
    transform: translateY(0)
}

.content h2 {
    font-size: 25px;
    padding: 0;
    margin: 5px 0 0;
}

.content span {
    color: #bbb;
    font-size: 18px;
}

.item:hover .content {
    transform: translateY(0px)
}





.aboutus{
    font-family: 'Rubik', sans-serif;
    background-color: rgb(230, 230, 230);
    direction: rtl;
    height: 100vh;
    width:100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
 
}

.aboutus h2{
    margin-top:20px;
    margin-bottom: 25px;
}

.aboutus p {
    direction: rtl;
    text-align: right;
 
}

.img-wrap{
    float:right;
    width:100%;
}
.img-wrap img{
    width:60%;
    padding: 2px;
    /* border-radius: 50%; */
    box-shadow: 0 0 10px #999999;
}


@media screen and (max-width:768px) {
    .aboutus h2 {
        margin-top: 10px;

    }

    .aboutus p{
        margin-top:20px;

    }
    
}

.logo{
    height: 70px;
    width: 70px;
}


.isukim-header{
    margin-top: 10%;
    font-size: 4em;
    color:rgb(0, 0, 0);
    text-align: center;
}
.isukim-section{
    font-family: 'Rubik', sans-serif;
    width: 100%;
    text-align: right;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    background-color: #fff;
    color:black;
    height: 100vh;
    background-size: cover;
    /* background:(#0f4675, #0f4675, 50%, #fff 50%, #fff 100% ); */
    direction: rtl;
    margin-bottom: 20%;
}

.container{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.container .box {
    margin-top: 2%;
    position: relative;
    width: 320px;
    background: #fff;
    padding: 100px 40px 60px;
    box-shadow: 0 15px 45px rgba( 0, 0, 0, 0, .1);
}

.container .box:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #856201b0;
    transform: scaleY(0);
    transform-origin: top;
    transition:0.5s;
}

.container .box:hover:before{ 
    transform: scaleY(1);
    transform-origin: bottom;
    transition:0.5s;
}

.container .box h2{
    position: absolute;
    left: 40px;
    top: 60px;
    font-size: 4em;
    font-weight: 800;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}

.container .box:hover h2{
    opacity: 1;
    color: #fff;
    transform: translateY(-40px);
}


.container .box h3{
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    color: #333;
    transition: 0.5s;
     
}

.container .box:hover h3,
.container .box:hover p
{
    color:#fff;
}


.container .box p{
    position: relative;
    z-index: 2;
    color: #555;
    transition: 0.5s;
     
}



  @media (min-width: 800px) {
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1rem;
    }
	}
	.et-hero-tab {
		font-size: 1rem;
}


.load {
    animation: slide 1s;
}

.slider {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 30s infinite;

}

.content {
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);

}

.principal {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    letter-spacing: 5px;
}

.principal h1 {
    font-size: 70px;
    margin-bottom: 20px;

}

.principal p {
    font-size: 20px;

}

@keyframes slide {
    0%{
        background-image: url("../src/images/background1.jpg");
    }
    20%{
        background-image: url("../src/images/background1.jpg");
    }
    20.01%{
        background-image: url("../src/images/background2.jpg");
    }
    40%{
        background-image: url("../src/images/background2.jpg");
    }
    40.01%{
        background-image: url("../src/images/background3.jpg");
    }
    60%{
        background-image: url("../src/images/background3.jpg");
    }
    60.01%{
        background-image: url("../src/images/background4.jpg");
    }
    80%{
        background-image: url("../src/images/background4.jpg");
    }
    80.01%{
        background-image: url("../src/images/background1.jpg");
    }
    100%{
        background-image: url("../src/images/background1.jpg");
    }

}



.li-ic:hover{
    font-size:18px;
    
}





@media only screen and (max-width: 1000px) {
    .navbar_header a{
        font-size: 10px;
    }
   
    .welcome-text {
        margin-top:10%;
        width: 80%;
        padding: 20px;
        border: 4px inset #fff ;    

    }
    .welcome-text p {
        
        font-size: 13px;
    }
    
    .contact-us-section{
        
        margin-bottom: 400px;
    }

    .email{
        transform: translate(39%, 0%);
        height: 395px;
    }

    #map-box {
        width: 87vh;
      }
/*

    #map {
        width:100vh;
        
        margin-top:200px;
        margin-bottom: 200px;
       
      }
  */   
      .li-ic{
          margin:20px;
          
      }

    

   

    .isukim-section {
        height: auto;
        margin-bottom: 40%;

    }
   
    .container .box {
        margin-top: 2%;
        width: 100%;
        background: #fff;
        /* padding: 100px 20px 60px; */
        box-shadow: 0 15px 45px rgba( 0, 0, 0, 0, .1);
        font-size: 14px;
        margin-left:20%;
    }
    .container{
        width:100%;
    }
    /*
    #map {
        margin-top: 105%;
        margin-bottom: 40%;
        width:100vh;
        height:70%; 
        /* margin-top:20%; */
        
       /*
      }
      #map #map-box {
        width:100vh;
        height:100%;
      }
      */
      .li-ic{
          margin:20px;
          
      }

    
 
    
}











